# === FRONTEND IGNORE ===
/Frontend/node_modules/
/Frontend/dist/
/Frontend/.angular/cache/
/Frontend/.vercel

# === BACKEND IGNORE ===
/Mock-Backend/node_modules/
/Mock-Backend/dist/
/Mock-Backend/build/
/Mock-Backend/logs/
/Mock-Backend/coverage/
/Mock-Backend/.nyc_output/
/Mock-Backend/.temp/
/Mock-Backend/.tmp/

/Mock-Backend/pids
/Mock-Backend/*.pid
/Mock-Backend/*.seed
/Mock-Backend/*.pid.lock
/Mock-Backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# === GLOBAL IGNORE ===
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE/Editor
.idea/
.vscode/
*.sublime-workspace

# Environment Variables
.env
Frontend/.env
Frontend/.env.local
Mock-Backend/.env
Mock-Backend/.env.local
