<div class="intro-container">
  <div class="dropdown-container">
    <label for="languageSelect" class="language-label">{{ 'APP.LANGUAGE' | translate }} :</label>
    <select id="languageSelect" (change)="onLanguageChange($event)">
      <option *ngFor="let item of menuItems" [value]="item.value" [selected]="item.value === selectedLanguage">
        {{ item.label }}
      </option>
    </select>
  </div>

  <div class="demo-component">
    <lib-primary-btn class="button" (click)="startTutorial(); saveUpdatedContent()">
      {{ 'APP.START_TUTORIAL' | translate }}
    </lib-primary-btn>
  </div>

  <div class="demo-component" (click)="openTutorialWithModal()">
    <lib-primary-btn class="button">
      {{ 'APP.LOREM' | translate }}
    </lib-primary-btn>
  </div>

  <div class="input-list">
    <div *ngFor="let item of testInputs; let i = index; trackBy: trackByFn">
      <input type="text" class="input-field" [(ngModel)]="testInputs[i]" />
    </div>
  </div>
</div>
