<div class="intro-container">
  <!-- Language Dropdown at the Top-Right Corner -->
  <div class="dropdown-container">
    <label for="languageSelect" class="language-label">{{ 'APP.LANGUAGE' | translate }} :</label>
    <select id="languageSelect" (change)="onLanguageChange($event)">
      <option *ngFor="let item of menuItems" [value]="item.value" [selected]="item.value === selectedLanguage">
        {{ item.label }}
      </option>
    </select>
  </div>

  <!-- Buttons using translations -->
  <div class="demo-component">
    <lib-primary-btn class="button" (click)="startTutorial()">
      {{ 'APP.START_TUTORIAL' | translate }}
    </lib-primary-btn>
  </div>

  <div class="demo-component">
    <lib-primary-btn class="button">
      {{ 'APP.LOREM' | translate }}
    </lib-primary-btn>
  </div>

  <div class="input-list">
    <div *ngFor="let item of testInputs">
      <input type="text" class="input-field" [placeholder]="item" />
    </div>
  </div>
</div>
