<div class="container">
  <div class="tutorial-wrapper">
    <div class="tutorial-container">
      <lib-icon-btn class="close-btn" (click)="closeTutorial()"> &#10005; </lib-icon-btn>

      <div class="content-area">
        <!-- Content Box (Hidden when modal is open) -->
        <div class="content-box" *ngIf="selectedItem">
          <p #contentBox [innerHTML]="formatContent(selectedItem.content)" [ngStyle]="setContentMargins(selectedItem)"></p>
        </div>

        <!-- Buttons Container (Always Visible) -->
        <div class="buttons-container">
          <div class="button-wrapper" *ngFor="let item of tutorialItems; let i = index">
            <div #button>
              <lib-icon-btn (click)="selectItem(item)" [class.active]="selectedItem === item">
                <span [innerHTML]="sanitize(item.icon)"></span>
              </lib-icon-btn>
            </div>
            <span class="button-label" [innerHTML]="formatLabel(item.label)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Overlay -->
<div *ngIf="toggleModal" class="modal-overlay" (click)="modalService.closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <lib-auto-delegation-modal [data]="modalDataDateRequest" [expandedBaseCard]="true" (event)="onEvent($event)"> </lib-auto-delegation-modal>
  </div>
</div>
