<div class="container">
  <div class="tutorial-wrapper">
    <div class="tutorial-container">
      <lib-icon-btn class="close-btn" (click)="closeTutorial()"> &#10005; </lib-icon-btn>

      <div class="content-area">
        <!-- Left Side: Dynamic Content -->
        <!-- <div class="content-box" *ngIf="selectedItem">
          <p #contentBox [innerHTML]="formatContent(selectedItem.content)"></p>
        </div> -->
        <div class="content-box" *ngIf="selectedItem">
          <p #contentBox [innerHTML]="formatContent(selectedItem.content)" [ngStyle]="setContentMargins(selectedItem)"></p>
        </div>

        <!-- Right Side: Navigation Buttons -->
        <div class="buttons-container">
          <div class="button-wrapper" *ngFor="let item of tutorialItems; let i = index">
            <!-- Wrap lib-icon-btn with a native element and add #button reference -->
            <div #button>
              <lib-icon-btn (click)="selectItem(item)" [class.active]="selectedItem === item">
                <span [innerHTML]="sanitize(item.icon)"></span>
              </lib-icon-btn>
            </div>
            <span class="button-label" [innerHTML]="formatLabel(item.label)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <lib-popup
    *ngIf="toggleModal"
    [isOpen]="toggleModal"
    [confirmButton]="'POPUP.CONFIRM'"
    [cancelButton]="'POPUP.CANCEL'"
    [title]="'POPUP.WARNING'"
    [message]="'POPUP.WARNING_MESSAGE'"
    [progBarCurrentStep]="3"
    [progBarTotalSteps]="5"
    [extendedMessage]="'POPUP.WARNING_MESSAGE_EXTENDED'"
    (close)="closeModal()"
  >
  </lib-popup>
</div>
